/* Add screen styles below */
html {
    background: #e3e3e3;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 35px;
    padding: 35px;
}
h3 {
    font-family: sans-serif;
    text-align: center;
}
h1 {
    text-align:center;
}

ul {
    text-align:center;
    list-style-type:none;
    padding-left: 15px;
}

.navbar ul{
    list-style-type: none;
    background-color:darkgray;
    padding: 0px;
    Margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align:center;
}

.navbar a:hover{
    background-color:white
}
.navbar li{
    float: left;
}

p {
    text-align: center;
}
h2 {
    text-align: center;
}
.about {
    font: size 10000px;
}

